#profilePic{
    height: 180px;
    width: 180px;
    border-radius: 90px;
}
#name{
    font-family: 'MontserratRegular';
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0;
}
#email{
    font-family: 'MontserratRegular';
    font-size: 20px;
    margin-top: 5px;
    word-break: break-all;
}
.name-email-container{
    margin-left: 20px;
}
.profileContainer{
    flex-direction: row;
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 25px;
}
@media screen and (max-width: 500px){
    .profileContainer{
        flex-direction: column;
        margin-top: 45px;
    }
    #email{
        margin-left: 0;
    }
    .name-email-container{
        margin-left: 0;
    }
}