.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
#login-title{
    font-family: 'MontserratRegular';
    font-size: 30px;
}
.login-input-container{
    margin-bottom: 20px;
}
#login-button-container{
    margin: 30px;
}