.App {
  text-align: center;
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("./fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "MontserratRegular";
  src: url("./fonts/Montserrat-Regular.ttf");
}